@import "tailwindcss";

@theme {
  --font-sans: 'Archivo', system-ui, sans-serif;

  --color-bg: #070C1C;
  --color-surface: #1E2031;
  --color-line: #2A2C3D;
  --color-accent: #EC3013;
  --color-muted: #A9A9A9;
  --color-disabled: #505261;
  --color-success: #4ADE80;
}

.hero {
  background-image:
    linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.08) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('/images/trailer-1.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  @apply bg-bg text-white font-sans;
}