@import "tailwindcss";

@theme {
  --font-sans: 'Archivo', system-ui, sans-serif;

  --color-bg: #070C1C;
  --color-surface: #1E2031;
  --color-line: #2A2C3D;
  --color-accent: #EC3013;
  --color-muted: #A9A9A9;
  --color-disabled: #505261;
}

body { @apply bg-bg text-white font-sans; }